.Container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 64px;
  padding: 0 32px;
}

.Nav.public {
  justify-content: center;
}

.Logo {
  height: 32px;
}

.Menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Divider {
  width: 1px;
  height: 24px;
  background-color: #eeeeee;
}

@media (max-width: 640px) {
  .Nav {
    width: 100%;
    padding: 0 16px;
  }

  .Menu {
    gap: 8px;
  }
}
